body {
	background-color:#e1eaea;
}
.topNav img{
	width: 90px;
	height: 30px;
	padding-left: 60px;
	margin-top: 3px;
}
.topNav{
	
	 background-color: #ccccff;
	 padding-top: 5px;
	 margin-left: 50px;
	 margin-right: 550px;
	 width: 1230px;
	 height: 40px;
}

.dropbtn {
    background-color: #ccccff;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size:15px;
    border: none;
    cursor: pointer;

}

.dropdown {
	margin-right: 20px;
	float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccccff;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#fig-all {
	background-color: white;

}
.title {
	font-size: 3.5em;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px
}
.topnav {
	background-color: black;
}
figure {
	
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 40px;
	padding-right: 50px;
}
 img {
	margin-top: -15px;
	margin-left: -50px;
	margin-bottom: 180px;
}
.main-nav {
	background-color: #ccccff;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: -30px;
}
.main-nav a {
	text-decoration: none;
	font-size: 1.25em;
	padding-left: 30px;
	color: black;
}
.topnav a {
	text-align: center;
	text-decoration: none;
	background-color: #ccccff;
	color: black;
	margin-left: 15px;
	float: right;
}
.background-nav {
	background-color: #ccccff;
	padding: 20px;
	height: 25px;
	margin-left: 50px;
	margin-right: 50px;
}
#product-details {
	position: absolute;
	margin-left: 400px;
	margin-top: -40px;
}
#product-details h3 {
	margin-top: -280px;
	margin-bottom: 5px;
}
h3 {

	margin-top: -15px;
	border-bottom: 2px solid gray;
	font-size: 2em;
}
#description {
	position: absolute;
	margin-left: 400px;
	margin-top: -440px;
	width: 55%;
}
#button-box {
	margin-right: 200px;
	margin-left: 20px;

}
#button-box button {

	width: 170px;
	height: 35px;
	margin-top: 160px;
}
.desciption-button1 {
	font-size: 15px;
	color: blue;
	margin-left: 60px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.desciption-button2{
	font-size: 15px;
	color: blue;
	margin-left: 60px;
	margin-right: 20px;
	margin-top: 100px;
} 
.desciption-button a {
	text-decoration: none;
	font-weight: bolder;
}
.sim-product {
	background-color: white;
}


.sim-products1 {
	position: absolute;
	margin-left: 40px;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	width: 130px;
}
.sim-products1 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products1 a {
	position: absolute;

	margin-top: -150px;
}
.sim-products2 {
	position: absolute;
	margin-left: 330px;
	margin-top: 15px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products2 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products2  a {
	position: absolute;

	margin-top: -150px;
}
.sim-products3 {
	position: absolute;
	margin-left: 600px;
	margin-top: 80px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products3 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products3 a {
	position: absolute;

	margin-top: -150px;
}
.sim-products4 {
	position: absolute;
	margin-left: 900px;
	margin-top: 80px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products4 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products4 a {
	position: absolute;

	margin-top: -150px;
}
.product-button1 {
margin-top: -130px;
width: 140px;

}
.product-button2 {
margin-top: -150px;
width: 140px;

}
.product-button3 {
margin-top: -130px;
width: 140px;

}
.product-button4 {
margin-top: -130px;
width: 140px;

}

footer {
	position: relative;
	margin-top: 400px;
	text-align: center;
	background-color: black;
	color: white;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}
