/************************************************
 * Start modify the image layout on Home.html*
 ******title1******************************************/
 h1{
 		font-size: 40%;
 		margin-bottom: 100%;
 		margin-top: -170%;
 		border-bottom: 2% solid #e1eaea;
 }
 .background img{
 	margin-top:60%;
 	margin-left: 100%;
 	margin-right: 100%;
 	width: 500%;
 }
  .background p {
  	float: right;
  	width: 500%;
  	margin-top:-370%;
  	margin-right:200%; 
  }
  .seller{
  }
 .seller h3{
 	border-bottom: 2%solid #e1eaea;
 	margin-left: 100%;
 	margin-right: 30%;
 }
 .seller .seller-table{
 	background-color:  #e1eaea;
 	margin-top:60%;
 	margin-left: 100%;
 	margin-right: 100%;
 	margin-bottom: -730%;
 	width: 1100%;
 	height: 500%;
 }
 .seller .seller-table td{

 	border: 2px solid white;
 	margin-bottom: 100%;
 	height: 100%;
 }
  .seller .seller-table a{
  	text-decoration: none;
  }
 .seller .seller-table img{
 	margin-left: 100%;
 	margin-top: 100%;
 	width: 300%;

 }

 .seller .seller-table #price{
 	float: right;
 	font-size: 15%;
 	margin-right: 200%;
 	margin-top: -310%;
 }
 .seller .seller-table p{
 	float: right;

 	font-size: 20%;
 	padding-bottom: 10%;
 	margin-right: 200%;
 	margin-top: 150%;
 }
  .seller .seller-table button{
 	float: right;
 	font-size: 15%;
 	margin-right: 200%;
 	margin-top: -280%;
 }
/*********************************************
 *End modify the image layout on Home.html*
 *********************************************/

/*****************************************
 *modify the image layout on menShoe.html*
 *****************************************/
.men-img{
	 background-color: white;

	margin-left: 240%;
	margin-right: 34%;
	padding-left: 50%;

}
.men-img img{
	margin-top: 40%;
	margin-left: 10%;
	margin-bottom: 20%;
	float: left;
	width: 230%;
	height: 150%;
}
.men-img a{
	text-decoration: none;
	color: black;
}
.men-img button{

	margin-top: -30%;
	margin-left: 100%;
}
.men-img p {
	margin-left: 10%;
	margin-top: -20%;
	margin-bottom: 0%;
	float: left;
	width: 230%;
	height: 60%;
	text-align: center;
}
#product1{
	border:  3% solid #e1eaea;
	margin-top: 20%;
	font-size: 15%;

}
#product2{
	border:  3% solid #e1eaea;
	margin-top: 20%;
	font-size: 15%;

}
#product3{
	border:  3% solid #e1eaea;
	margin-top: 20%;
	font-size: 15%;

}
#product4{
	border:  3% solid #e1eaea;
	margin-top: 20%;
	font-size: 15%;

}

#product5{
	border:  3px solid #e1eaea;
	margin-top: 20px;
font-size: 15px;
}
#product6{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product7{
	border:  3px solid #e1eaea;
	margin-top: 20px;

}
#product8{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product9{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product10{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product11{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product12{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}

#product13{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product13 p{
	margin-top: .5px;
}
#product14{
	border:  3px solid #e1eaea;
	margin-top: 20px;

}
#product14 p{
	margin-top: .5px;
}
#product15{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product15 p{
	margin-top: .5px;
}
#product16{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product16 p{
	margin-top: .5px;
}