/*Edit top  men and women shoes html */
#filter{
	
	margin-top: -1%;
	width: 15%;
	height: 1700%;
	margin-left: 0%;
	background-color: #ccccff;
}
#filter h1{
	border: 1px solid #ccccff ;

	text-align: center;
}
#filter input{
	border: 1px solid #ccccff;

	margin-left: 30%;
	margin-top: 5%;
}

.men-img{
	
	 background-color: white;
	margin-left: 20%;
	margin-right: 5%;

}

.men-img a{
	text-decoration: none;
	color: black;
}
.men-img button{

	margin-top: 0%;
	margin-left: 30%;
}
.men-img p {
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	float: left;
	width: 100%;
	height: 20%;
	text-align: center;
}

#product1{
	border:  3px solid #e1eaea;
	margin-top: 5%;
	font-size: 15px;

}
#product2{
	border:  3px solid #e1eaea;
	margin-top: 5%;
	font-size: 15px;

}
#product3{
	border:  3px solid #e1eaea;
	margin-top: 5%;
	font-size: 15px;

}
#product4{
	border:  3px solid #e1eaea;
	margin-top: 5%;
	font-size: 15px;

}

#product5{
	border:  3px solid #e1eaea;
	margin-top: 2%;
font-size: 15px;
}
#product6{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product7{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product8{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product9{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;
}
#product10{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product11{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product12{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}

#product13{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product13 p{
	margin-top: .5%;
}
#product14{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product14 p{
	margin-top: .5%;
}
#product15{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product15 p{
	margin-top: .5px;
}
#product16{
	border:  3px solid #e1eaea;
	margin-top:2%;
	font-size: 15px;

}
#product16 p{
	margin-top: .5%;
}