/************************************************
 * Start modify the image layout on Home.html*
 ******title1******************************************/
 h1{
 		font-size: 40px;
 		margin-bottom: 100px;
 		margin-top: -170px;
 		border-bottom: 2px solid #e1eaea;
 }
 .background img{
 	margin-top:60px;
 	margin-left: 100px;
 	margin-right: 100px;
 	width: 500px;
 }
  .background p {
  	float: right;
  	width: 500px;
  	margin-top:-370px;
  	margin-right:200px; 
  }
  .seller{
  }
 .seller h3{
 	border-bottom: 2px solid #e1eaea;
 	margin-left: 100px;
 	margin-right: 30px;
 }
 .seller .seller-table{
 	background-color:  #e1eaea;
 	margin-top:60px;
 	margin-left: 100px;
 	margin-right: 100px;
 	margin-bottom: -730px;
 	width: 1100px;
 	height: 500px;
 }
 .seller .seller-table td{

 	border: 2px solid white;
 	margin-bottom: 100px;
 	height: 100px;
 }
  .seller .seller-table a{
  	text-decoration: none;
  }
 .seller .seller-table img{
 	margin-left: 100px;
 	margin-top: 100px;
 	width: 300px;

 }

 .seller .seller-table #price{
 	float: right;
 	font-size: 15px;
 	margin-right: 200px;
 	margin-top: -310px;
 }
 .seller .seller-table p{
 	float: right;

 	font-size: 20px;
 	padding-bottom: 10px;
 	margin-right: 200px;
 	margin-top: 150px;
 }
  .seller .seller-table button{
 	float: right;
 	font-size: 15px;
 	margin-right: 200px;
 	margin-top: -280px;
 }
/*********************************************
 *End modify the image layout on Home.html*
 *********************************************/

/*****************************************
 *modify the image layout on menShoe.html*
 *****************************************/
.men-img{
	 background-color: white;

	margin-left: 240px;
	margin-right: 34px;
	padding-left: 50px;

}
.men-img img{
	margin-top: 40px;
	margin-left: 10px;
	margin-bottom: 20px;
	float: left;
	width: 230px;
	height: 150px;
}
.men-img a{
	text-decoration: none;
	color: black;
}
.men-img button{

	margin-top: -30px;
	margin-left: 100px;
}
.men-img p {
	margin-left: 10px;
	margin-top: -20px;
	margin-bottom: 0px;
	float: left;
	width: 230px;
	height: 60px;
	text-align: center;
}
#product1{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product2{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product3{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product4{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}

#product5{
	border:  3px solid #e1eaea;
	margin-top: 20px;
font-size: 15px;
}
#product6{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product7{
	border:  3px solid #e1eaea;
	margin-top: 20px;

}
#product8{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product9{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product10{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product11{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product12{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}

#product13{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product13 p{
	margin-top: .5px;
}
#product14{
	border:  3px solid #e1eaea;
	margin-top: 20px;

}
#product14 p{
	margin-top: .5px;
}
#product15{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product15 p{
	margin-top: .5px;
}
#product16{
	border:  3px solid #e1eaea;
	margin-top: 20px;
	font-size: 15px;

}
#product16 p{
	margin-top: .5px;
}