/*Edit checkout.html*/
.container {
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
   margin-right: 5%;
   width: 90%;
  background-color: #e1eaea;
}
.container1 {
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
  padding-bottom: 3%;
   margin-right: 5%;
 border: 1px solid red;
   width: 90%;
  background-color: #e1eaea;
}
.container1 label{
  padding-left: 2%;
}
.container1 input{
  padding-right: 2%;
}
#submit{
 width: 10%;
 height: 10%;
  margin-left: 45%;
  background-color: gray;
  float: center;
}
#submit a{
  color: white;
  text-decoration: none;
}
.container h1{

  background-color: #e1eaea;
  text-align: center;
}
