/*Edit sign in page*/
.body-container{
   background-color: #e1eaea;
}

.main-wrapper img{

  width: 20%;
  margin-left: 42%;
  margin-top: 10%;
}
.main-wrapper h2{
  font-size: 30px;
   margin-left: 45%;
  margin-top: 0%;
}
.main-wrapper button{
  margin-top: 2%;
  width: 10%;
  height: 5%;
}
.main-wrapper a{
  color: black;
text-decoration: none;

}
.main-wrapper form{
    margin-top: -3%;
  margin-left: 42%;
}
.main-wrapper input{

  width: 30%;
  height: 6%;
}

/*Edit checkout.html*/

.container {
  text-align: left;
  padding-bottom: 2%;
  margin-top: -1.9%;
  margin-left: 5%;
   margin-right: 5%;
   width: 90%;
   height: 20%;
  background-color: #e1eaea;
}
.container button {
  margin-left: 2%;
  width: 10%;
  height: 30%;
  margin-top: -2%;
}
.container a{
  text-decoration: none;
  color: black;
}
.col-50 #subtitle{

  font-size: 27px;
  text-align: left;
   margin-left: 2%;
  margin-top: 3%;
}
 #check{
  text-align: center;
  font-size: 36px;
}
.container p{
  padding-top: 2%;
  margin-left: 2%;
  font-size: 20px;
}
.container #total{
  font-weight: bold;
  border-top: 2px solid gray;
}
.container1 {
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
  padding-bottom: 3%;
   margin-right: 5%;
   width: 90%;
  background-color: #e1eaea;
}
.container1 label{
  padding-left: 2%;
}
.container1 input{
  padding-right: 2%;
}
#submit{
 width: 10%;
 height: 10%;
  margin-left: 45%;
  background-color: gray;
  float: center;
}
#submit a{
  color: white;
  text-decoration: none;
}
.container h1{

  text-align: center;
}

/* edit the order html */
.container3 {
  padding-left: 2%;
  padding-top: 1%;
    padding-bottom: 1%;
    background-color: #e1eaea;
  margin-top: 2%;
    margin-bottom: 2%;
  margin-left: 5%;
    margin-right: 5%;
}
.container3 #total{
  font-weight: bold;
  border-top: 2px solid gray;
}
