
/*Start Xang css style*/
body {
	background-color:#e1eaea;
}
/*Edit the logo image (shoe image in the top menu*/
.topNav img{
	width: 90px;
	height: 30px;
	padding-left: 60px;
	margin-top: 3px;
}
/*Edit the whole top menu*/

.topNav{
	 background-color: #ccccff;
	 padding-top: 5px;
	 margin-left: 100px;
	 margin-right: 100px;
	 width: 1200px;
	 height: 40px;
}
.topnav a {
	text-align: center;
	text-decoration: none;
	background-color: #ccccff;
	color: black;
	margin-left: 15px;
	float: right;
}
/*Edit the top menu button*/
.dropbtn {
    background-color: #ccccff;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size:15px;
    border: none;
    cursor: pointer;

}
/*Edit drop down menu in the top menu*/
.dropdown {
	margin-right: 20px;
	float: right;
    position: relative;
    display: inline-block;
}
.dropdown a{
	text-decoration: none;
	color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccccff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*End edit drop down menu*/
/*Edit title*/
.title {
	font-size: 3.5em;
	padding-left: 20px;
	margin-top: -180px;
}
/*Edit backgorund for the whole image place in the display*/
#fig-all {
	background-color: white;
	margin-right: 0px;
	margin-left: 0px;


}
#fig-all h3{
	margin-left: -40px;
	margin-right: -50px;
	padding-left: 20px;
}
/*Edit figure position*/
figure {
	margin-top: -50px;
	padding-left: 40px;
	padding-right: 50px;
}
/*Edit shoe image in figure*/
 img {
 	
	margin-top: 5px;
	margin-left: -50px;
	margin-bottom: 180px;
}
#display-shoe img{
	margin-top: 50px;
	width: 300px;
	height: 200px;
	margin-right: 140px;
}
/*descrpition of the shoe*/
#description {
	position: absolute;
	margin-left: 400px;
	margin-top: -470px;
	width: 55%;
}

/*Start the detail of the shoe*/
#product-details {
	position: absolute;
	margin-left: 600px;
	margin-top: -90px;
	text-align: left;
}
#product-details h3 {
	margin-top: -280px;
	margin-bottom: 5px;
	margin-left: 0px;
}
/*End prpoduct details*/

/*Edit subtitle*/
h3 {

	margin-top: -15px;
	border-bottom: 2px solid gray;
	font-size: 2em;
}


/*Edit add button*/
#button-box {

	margin-right: 200px;
	margin-left: 20px;

}
#button-box button {
	width: 170px;
	height: 35px;
	margin-top: 120px;
}



.desciption-button1 {
	font-size: 15px;
	color: blue;
	margin-left: 60px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.desciption-button2{
	font-size: 15px;
	color: blue;
	margin-left: 60px;
	margin-right: 20px;
	margin-top: 100px;
} 
.desciption-button a {
	text-decoration: none;
	font-weight: bolder;
}
/*End edit the add button*/
/*Start edit the similiar product*/
.sim-products {
	background-color: white;
	height:330px;

}

.sim-products h3{
	margin-top: -130px;
	margin-left: -40px;
	margin-right: -50px;
	padding-left: 20px;
}
.sim-products1 {

	position: absolute;
	margin-left: 40px;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	width: 100px;
}
.sim-products1 img{

	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products1 a {
	position: absolute;

	margin-top: -150px;
}
.sim-products2 {
	position: absolute;
	margin-left: 330px;
	margin-top: 15px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products2 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products2  a {
	position: absolute;

	margin-top: -150px;
}
.sim-products3 {
	position: absolute;
	margin-left: 600px;
	margin-top: 80px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products3 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products3 a {
	position: absolute;

	margin-top: -150px;
}
.sim-products4 {
	position: absolute;
	margin-left: 900px;
	margin-top: 80px;
	padding: 10px;
	background-color: white;
	width: 150px;
}
.sim-products4 img{
	padding-left: 20px;
	width: 200px;
	height: 100px;
}

.sim-products4 a {
	position: absolute;

	margin-top: -150px;
}
/*End edit similar product*/
/*start edit the add wish cart button*/
.product-button1 {
margin-top: -130px;
width: 140px;

}
.product-button2 {
margin-top: -150px;
width: 140px;

}
.product-button3 {
margin-top: -130px;
width: 140px;

}
.product-button4 {
margin-top: -130px;
width: 140px;

}
/*end edit the add wish cart button*/
/*Edit second menu*/
.main-nav {
	background-color: #ccccff;
	 
	margin-left: 100px;
	margin-right:35px;
	margin-top: 775px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 450px;

}
.main-nav a {
	 cursor: pointer;
	text-decoration: none;
	font-size: 1.25em;
	color: black;
	border: 1px solid yellow;

}


.main-nav a:hover{

	background-color: white;
	
}
.background-nav {
	background-color: white;
	padding: 20px;
	height: 25px;
	margin-left: 50px;
	margin-right: 50px;
}

/*End second menu*/
/*edit the copyright*/
#credit p {
	text-align: center;
	color: black;
}
