
/*Start Xang css style*/
body {
	background-color:white;
	
}


/*Edit the logo image (shoe image in the top menu*/
.topNav img{
	margin-left: 1%;
	
	width: 6%;
	padding-right: 3%;
	margin-top: 0%;
}
/*Edit the whole top menu*/

.topNav{
 	background-color: #e1eaea;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin-left: 5%;
	 margin-right: 0%;
	 width: 90%;
	 height: 6%;
}
.topnav a {
	text-align: center;
	text-decoration: none;
	background-color: #e1eaea;
	color: black;
	margin-left: 5%;
	float: right; 
}
/*Edit the top menu button*/
.dropbtn {
    background-color: #e1eaea;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size:15px;
    border: none;
    cursor: pointer;

}
/*Edit drop down menu in the top menu*/
.dropdown {
	margin-right: 20px;
	float: right;
    position: relative;
    display: inline-block;
}
.dropdown a{
	text-decoration: none;
	color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1eaea;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn a:hover{
	background-color: white;
}
.dropdown:hover .dropbtn {
    background-color: white;
}
/*End edit drop down menu*/
h3{
	font-size: 40px;
	border-bottom: 3px solid #e1eaea;
	margin-left: 5%;
	 margin-right: 0%;
	 width: 90%;
	 height: 10%;
}
h1{
	font-size: 30px;
	border-bottom: 3px solid #e1eaea;
	margin-left: 5%;
	 margin-right: 0%;
	 width: 90%;
	 height: 1%;
}

.background img{
	float: left;
 	margin-top:0%;
 	margin-left: 10%;
 }
  .background p {
  	float: right;
  	width: 30%;
  	margin-top:10%;
  	margin-right:18%; 
  }
.seller {
	margin-top: 30%;
	margin-left: 5%;
}
.seller h3{
font-size: 30px;
	border-bottom: 3px solid #e1eaea;
	margin-left: 0%;
	 margin-right: 0%;
	 padding-right: 3%;
	 width: 90%;
	 height: 10%;	
 }
 .seller .seller-table{
 	border: 1px solid red;
 	border: 3px solid white;
 	margin-left:0%;
 	margin-right: 0%;
 	margin-bottom:0%;
 	width: 95%;
 	height: 10%;
 }
 .seller .seller-table td{
background-color:  #e1eaea;
 }
  .seller .seller-table a{
  	text-decoration: none;
  }
 .seller .seller-table img{
 	margin-left: 10%;
 	margin-top: 3%;
 	width: 35%

 }

 .seller .seller-table #price{
 	float: right;
 	font-size: 20px;
 	margin-right: 47%;
 	margin-top: -14%;

 }
 .seller .seller-table p{
 float: right;
 	font-size: 20px;
 	padding-bottom: 5%;
 	margin-right: 20%;
 	margin-top: 3%;
 }
  .seller .seller-table button{
 	float: right;
 	font-size: 15px;
 	margin-right: 43%;
 	margin-top: -10%;
 }


/*bottom menu*/
.main-nav {
	margin-top: 0%;
	padding-top: 1%;
	padding-bottom: 2.5%;
	background-color: #e1eaea;
	margin-left: 5%;
	 margin-right: 5%;
}
.main-nav button {

	border: 1px solid red;
	float: left;
	width: 10%;
	height: 1%;
	  background-color: #e1eaea;
    font-weight: bold;
    font-size:15px;
    border: none;
    cursor: pointer;

}
.main-nav button:hover{
	background-color: white;
}
.main-nav a{

	text-align: center;
	text-decoration: none;
	 color: black;
}

#credit{
	text-align: center;
}